* {
    /* Свойства для сброса начальных стилей элементов */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    width: 1440px;
    height: 70px;
    background-color: #2965f1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    width: 1440px;
    height: 1024px;
    background-color: #fafaff;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    
    padding: 60px 0 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
    
}

.main-image {
    /* Стили для изображения в первой секции */
    background-color: #fafaff; 
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    
    padding-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    width: 80px;
    height: 57px;
    padding-left: 20px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    width: 670px;
    height: 57px;
    padding-left: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
    
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    padding-left: 12px;
}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 60px;
}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin-bottom: 60px;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
}

th, td {
    /* Стили для ячеек таблицы */
    border: 1px solid #95a1bb;
}

th {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    
    padding: 12px 16px 11px;
}

td {
    padding: 11px 0 12px 15px;
    font-weight: 400;
    font-size: 14px;
    
}

footer {
    /* Стили для футера */
    width: 1440px;
    height: 70px;
    background-color: rgba(163, 167, 255, 0.3);
    padding-top: 26px;
}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
}